.match, .nomatch, select {}
.square {
    border: 5px solid mediumpurple;
    height: 150px;
    width: 150px;
    background-color: ghostwhite;
    overflow: hidden;
}

progress {
    width: 100%;
}

#progressBar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

#barStatus {
    position: absolute;
    width: 8%;
    height: 100%;
    background-color: #25F;
}